@import '../../variables';

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    @media screen and (max-width: 785px) {
        & {
            width: 90%;
            margin-left: 1.5rem;
        }
    }
    .divider__line {
        width: 15rem;
        height: 0.5rem;
        border-radius: 5rem;
    }
    .divider__light {
        background-color: $white;
    }
    .divider__dark {
        background-color: $bg-header;
    }

    .divider__star {
        font-size: 4rem;
        margin-left: 1rem;
        margin-right: 1rem;
        .star__light {
            color: $white;
        }
        .star__dark {
            color: $bg-header;
        }
    }
}