@import '../../variables';

.start {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        .avatar__img {
            margin-top: 7rem;
            width: 25rem;
        }

        .avatar__title {
            font-size: 7rem;
            color: $white;
            text-transform: uppercase;
            font-family: 'Montserrat';
            font-weight: 600;
            text-align: center;
            margin-top: 5rem;
        }
    }

    .avatar__text {
        font-size: 2.5rem;
        color: $white;
        text-align: center;
        margin-top: 4rem;
        font-family: 'Lato';
        margin-bottom: 5rem;
    }
}